* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f5f6f5;
  margin-bottom: 80px;
}

.navbar {
  padding: 0 35px !important;
}

.navbar-nav {
  margin-left: -30px !important;
}

.right-menu li {
  display: inline-block;
  margin-top: 30px !important;
}
.right-menu li .fab {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-item .nav-link {
  font-size: 15px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-50%);
}
.navbar-brand img {
  width: 160px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  margin-top: 25px;
}
.navbar-toggler .fas {
  font-size: 30px;
  cursor: pointer;
}

.banner {
  position: relative;
}

.banner-img {
  margin: 80px 115px;
  width: 60%;
}
.banner-img img {
  width: 100%;
  margin-bottom: -70px;
}

.banner-title {
  position: absolute;
  left: 50%;
  top: 20%;
}
.banner-title h1 {
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  line-height: 70px;
  padding: 0px 10px 0px 10px;
}

.fashion-trends {
  padding: 100px 0;
}

.fashion-box {
  padding: 80px 0;
}
.fashion-box p {
  padding: 0 15%;
  font-size: 15px;
}

.title-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 50, 0.5);
}
.title-style h1 {
  padding: 40px 0;
}

.title-style::after {
  content: "";
  height: 100px;
  width: 200px;
  background-color: #f992a6;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.title-style::before {
  content: "";
  height: 100px;
  width: 200px;
  background-color: #f992a6;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.trending-img {
  margin-top: 50px;
  position: relative;
  margin-bottom: 15px;
}
.trending-img img {
  width: 100%;
}

.trending-img:hover .btn-buy {
  transform: translate(-50%, 10%);
  bottom: 50%;
  opacity: 1;
}

.btn-buy {
  width: 150px;
  padding: 10px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: 1s;
  opacity: 0;
  z-index: 1;
}

.overlay {
  height: 0;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.trending-img:hover .overlay {
  opacity: 0.5;
  height: 100%;
}

.offer {
  background-image: url(../img/fashion.png);
  background-size: cover;
  background-position: center;
  max-height: 500px;
}
.offer img {
  width: 300px;
  height: 400px;
  margin: 100px;
  margin-top: 200px;
}

.row {
  margin: initial !important;
}

.subscribe {
  max-width: 500px;
  max-height: 400px;
  margin-top: 60px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5490196078);
  margin-bottom: 20px;
}
.subscribe a {
  width: 100px;
  display: block;
  color: #fff;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.fashion-blog {
  margin: 250px 0 150px 0;
}
.fashion-blog h5 {
  margin-top: 20px;
  font-weight: bold;
}

.blog-img {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  display: inline-block;
}
.blog-img img {
  width: 100%;
  height: 100%;
}

.fashion-brands {
  margin-bottom: 150px;
}
.fashion-brands p {
  margin-top: 30px;
  font-weight: bold;
}

.fashion-logo {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  margin: 50px auto 30px;
  box-shadow: 0 2px 40px 0 rgba(110, 130, 208, 0.2);
}
.fashion-logo img {
  width: 100px;
  margin: 50px auto;
}

.footer {
  margin-top: 150px;
  background-color: #f5f6fc;
  position: relative;
}
.footer h5 {
  margin-bottom: 50px;
  font-size: 20px;
}
.footer h5::before {
  content: "";
  width: 70px;
  height: 3px;
  background-color: #4f74e8;
  top: 80px;
  position: absolute;
}

.payment {
  margin: 50px auto;
}
.payment img {
  width: 300px;
  cursor: pointer;
}

.insta-img {
  margin: 50px auto;
}
.insta-img img {
  width: 75px;
  padding: 5px;
  cursor: pointer;
}

.app-download {
  margin: 50px auto;
}
.app-download img {
  width: 200px;
}

.footer-icons {
  text-align: right;
}
.footer-icons .fab {
  margin: 0px 10px auto;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 5px !important;
  }

  .navbar-nav {
    margin-left: 5px !important;
    margin-top: 10px !important;
  }

  .navbar-brand {
    left: 70%;
    top: 10px;
  }

  .navbar-toggler {
    margin-top: 15px;
  }
  .navbar-toggler .fas {
    font-size: 25px !important;
  }

  .banner-img {
    margin: 40px auto;
    width: 80%;
  }

  .banner-title {
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner-title h1 {
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
  }

  .title-style h1 {
    padding: 50px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .fashion-box p {
    padding: 0 5%;
    font-size: 15px;
  }

  .offer {
    max-height: 1000px;
  }
  .offer img {
    margin: 0 auto;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    width: 100%;
  }

  .subscribe {
    margin-top: 30px;
    padding: 30px;
  }

  .fashion-blog h5 {
    font-size: 16px;
  }

  .blog-img {
    width: 100%;
    height: 250px;
  }

  .copyright {
    text-align: center;
    font-size: 12px;
  }

  .footer-icons {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    text-align: center;
  }
}
@media only screen and (min-width: 400px) {
  .offer img {
    width: 300px;
    height: 400px;
  }

  .blog-img {
    height: 300px;
    width: 300px;
  }

  .payment {
    text-align: center;
  }

  .app-download {
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner-title h1 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 991px) {
  .footer h5::before {
    content: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .banner-title h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 992px) {
  .footer h5 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 992px) {
  .navbar-brand {
    left: 55%;
  }

  .form-control {
    width: 150px !important;
  }
}/*# sourceMappingURL=style.css.map */